body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('Images/splashPagebg.jpeg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #EFE7DA;
    font-family: Arial, sans-serif;
}

.container {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

.enter-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #4F0208;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background 0.3s;
}

.enter-btn:hover {
    background: #180808;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #EFE7DA;
    font-size: 1em;
}

